<main class="main" role="main">
  <!-- Menu Section -->
  <section class="menu_section">
    <div class="title_wrapper">
      <a href="#" target="_self">
        <div class="title_wrapper">
          <svg
            preserveAspectRatio="xMidYMid meet"
            data-bbox="29.466 29.643 141.068 140.714"
            viewBox="29.466 29.643 141.068 140.714"
            height="200"
            width="200"
            xmlns="http://www.w3.org/2000/svg"
            data-type="tint"
            role="img"
            aria-labelledby="svgcid--w330tl1od76g"
          >
            <title>Portfolio</title>
            <g>
              <path
                fill="#202020"
                d="M75.424 141.011l12.728 12.727-16.617 16.617-12.727-12.727 16.616-16.617z"
              ></path>
              <path
                fill="#202020"
                d="M157.805 141.366l12.729-12.728-57.63-57.629 28.285-28.285-12.728-12.727-28.285 28.284-28.638-28.638-12.727 12.728 28.638 28.638-16.264 16.263-28.638-28.638L29.82 71.362 58.458 100l-28.992 28.992 12.728 12.727 28.991-28.991 57.629 57.629 12.729-12.728L83.913 100l16.264-16.263 57.628 57.629z"
              ></path>
              <path
                fill="#202020"
                d="M157.447 58.99l12.728 12.727-16.617 16.617-12.728-12.728 16.617-16.617z"
              ></path>
            </g>
          </svg>
        </div>
      </a>
      <span class="author">
        <a href="#" target="_self">Jeong Hong Min</a>
      </span>
    </div>
    <div class="menu_wrapper">
      <ul>
        <li>포트폴리오</li>
        <li>소개</li>
        <li>쇼핑몰</li>
        <li>전산관리</li>
        <li>공부</li>
        <li>홈</li>
        <li>셋팅</li>
      </ul>
    </div>
  </section>

  <!-- -->
  <section class="portfolio_section">
    <div class="portfolio_wrapper grid">
      <div>
        <a
          href="https://hmin5015.github.io/HTML_SAMPLE/index.html"
          target="_blank"
        >
          <img src="../assets/images/wbc_website.jpg" />
        </a>
      </div>
      <div>
        <a href="#">
          <img src="../assets/images/cookie_01.jpg" />
        </a>
      </div>
      <div>
        <a href="#">
          <img src="../assets/images/cookie_01.jpg" />
        </a>
      </div>
      <div>
        <a href="#">
          <img src="../assets/images/cookie_01.jpg" />
        </a>
      </div>
      <div>
        <a href="#">
          <img src="../assets/images/cookie_01.jpg" />
        </a>
      </div>
      <div>
        <a href="#">
          <img src="../assets/images/cookie_01.jpg" />
        </a>
      </div>
    </div>
  </section>
</main>

<router-outlet></router-outlet>
